# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular languages for Data Science
+ List open-source data management tools
+ List data visualization tools
+ Define a Jupyter Notebook
+ List the R data visualization packages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. PyTorch
4. Seaborn

| Data Science Tools |
| ------------------ |
| RStudio |
| JupyterLite |
| GoogleColab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hour = minutes / 60
print(hour)

3.3333333333333335

## Author

Deborah Chinonyerem Isinwa-Iheme